.calendar-container {
  background-color: rgba(136, 178, 184, 0.7);
  border-radius: 15px;
  padding: 20px;
  color: #080808;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 0 15px 3px #ffc107;
  text-align: center;

  h1, h2 {
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0px 0px 10px #ffc107;
  }

  .status-message {
    margin-top: 20px;
    color: #fafafa;
    font-weight: bold;
  }

  .auth-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    .auth-button {
      background-color: #007bff;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background-color: #0069d9;
      }
    }
  }

  .get-fit-data {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(55, 69, 80, 0.2);
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
  }

  .calendar-list, .event-list {
    margin-top: 20px;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        background-color: rgba(55, 69, 80, 0.2);
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 8px;
        border-left: 5px solid #ffc107;
        color: #fffffe;
        font-weight: bold;
        transition: transform 0.3s ease;

        &:hover {
          background-color: rgba(70, 70, 70, 0.9);
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }

  .create-event-form {
    margin-top: 20px;

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          margin-bottom: 5px;
          font-weight: bold;
          color: #ffc107;
        }

        input, textarea {
          padding: 10px;
          border-radius: 8px;
          border: none;
          width: 100%;
          box-sizing: border-box;
          background-color: rgba(50, 50, 50, 0.85);
          color: #ffffff;
        }
      }

      .submit-button {
        background-color: #58aa16;
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        color: white;
        margin-top: 15px;

        &:hover {
          background-color: #4e9e13;
        }
      }
    }
  }
}
